*{
    margin: 0;
    padding: 0;
    
    }
    
    body{
    
    
    
    }
    
    .full_Cv{
    
border: 1px solid #1F5AC1;
    
margin: 42px;
    
box-shadow: 0px 20px 40px rgb(31 90 193);
    }
    
    .headunhs{
    
    display: flex;
    
    align-items: center;
    }
    .cvheader{
    
background: #1F5AC1;
    
box-shadow: 0px 20px 40px rgb(31 90 193);
    }
    
    .profile_img{
    
    
    
    }
    
    .profile_img img{
    
    border: 8px solid #fff;
    
    border-bottom: 0px;
    
    width: 75%;
    
    margin-top: 26px;
    }
    
    .cvhe_Content{
    
    
    }
    
    .cvhe_Content h1{
    
    color: #fff;
    
    font-size: 27px;
    }
    
    .cvhe_Content h2{
    
    color: #fff;
    
    font-size: 14px;
    }

    .aboutmeeducation{

margin-bottom: 67px;

}
    
    .aboutmeeducation_1{
    
    /* text-align: center; */
    
    margin top: 1;
    }
    .aboutmeeducation_1 h1{
    
font-size: 28px;
    
margin-top: 100px;
    }
    
    .aboutmeeducation_1_inner{
    
    
    }
    
    .aboutmeeducation_1_inner h1{
    
    font-size: 15px;
    
    margin-top: 14px;
    }
    
    .aboutmeeducation_1_inner h1 i{
    
color: #1F5AC1;
    }
    
    .educalojs{
    
    /* text-align: center; */
    }
    
    .educalojs h1{
    
font-size: 28px;
    
margin-top: 100px;
    }
    
    .educalojs h2{
    
font-size: 15px;
    
margin-top: 14px;
    
color: #1F5AC1;
    }
    
    .educalojs h3{
    
font-size: 15px;
    }
    
    .educalojs h4{
    
    color: darkgrey;
    }
    
    .miakoia{
    
    margin-top: 100px;
    
    line-height: 24px;
    }
    
    .miakoia p{
    }
    
    .miakoia h1{
    
font-size: 21px;
    }